<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jjjr.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>71A33EAC38489EF6BAB1C4CF814A4593D4651D24</string>
				<key>dateExpires</key>
				<string>2023/8/15</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CKBKB7T5NP.com.jdj.jdmf</string>
				<key>com.apple.developer.team-identifier</key>
				<string>CKBKB7T5NP</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>jjjr.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1817abf0-fe84-4924-a0b4-2ff33d61f01c</string>
				<key>dateExpires</key>
				<string>2023/8/22</string>
				<key>name</key>
				<string>JDMF_Dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CKBKB7T5NP</string>
				<key>name</key>
				<string>Shanghai Jane Jia Information Technology Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
